@import './src/scss/mixins';

.kyc-checkBox {
  width: auto;
  height: auto;

  display: flex;
  align-items: center;
  gap: 15px;

  justify-content: space-between;

  &__box {
    width: 18px;
    height: 18px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 2px solid var(--border-color);

    &-check {
      width: 14px;
      height: 14px;

      background: var(--title-color);
    }
  }

  &__label {
    width: 90%;

    @include h3-regular;
    color: var(--title-color);
  }
}

@media (min-width: 360px) and (max-width: 428px) {
  .kyc-checkBox {
    width: auto;
    height: auto;

    display: flex;
    align-items: center;
    gap: 15px;

    &__box {
      width: 18px;
      height: 18px;

      &-check {
        width: 14px;
        height: 14px;
      }
    }
  }
}