@import './src/scss/mixins';

.kyc-personal {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  gap: 30px;

  h1 {
    @include h2-bold;
    color: var(--title-color);
  }

  &-firstRow {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 41%;
    justify-content: space-between;
  }

  &-secondRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 24px;
  }

  &-thirdRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
  }

  &-fourRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
  }

  &-fiveRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
  }
}

@media (min-width: 360px) and (max-width: 428px) {
  .kyc-personal {
    width: 100%;
    height: auto;

    &__wrapper {
      width: 90%;
      height: 100%;

      align-items: center;
    }

    &-firstRow {
      width: 100%;
      display: flex;
    }
  }
}