@import './src/scss/mixins';

.kyc-personal {
  width: calc(825 / 1440 * 100vw);

  padding: calc(35 / 1440 * 100vw) 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #090909;

  &__wrapper {
    width: 76%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    gap: 30px;
  }

  h1 {
    @include h2-bold;
    color: #1E24CC;
  }

  &-firstRow {
    width: 100%;
    display: grid;
    grid-template-columns: 55% 41%;
    justify-content: space-between;
  }

  &-secondRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
  }

  &-thirdRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
  }

  &-fourRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
  }

  &-fiveRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 30px;
  }
}