@import './src/scss/mixins';

.kyc-loader {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--background-color);

  z-index: 100;

  &--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;

    width: auto;
    height: auto;
  }

  &-spin{
    width: 90px;
    height: 90px;


  }

  p{
    @include h2-bold;
    color: var(--title-color);
  }
}