@import './src/scss/mixins';

.kyc-select-country {
  position: relative;
  width: 100%;
  height: 42px;

  display: flex;
  align-items: center;

  border: 3px solid var(--border-color);

  &--open {
    border-top: 3px solid var(--border-color);
    border-left: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
    border-bottom: 3px solid transparent;
  }

  &-title {
    position: absolute;
    top: -12px;
    left: 20px;

    padding: 0 5px;

    background: var(--background-color);
    color: var(--text-color) !important;

    @include h4-regular;

    z-index: 3;
  }

  &-input {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 0 17px;
    box-sizing: border-box;

    z-index: 2;

    background: var(--background-color);

    input {
      width: 100%;
      height: 100%;

      color: var(--text-color) !important;

      text-align: left;

      @include h3-regular;
    }

    &--open {
      svg {
        transform: rotate(180deg);
      }
    }

    &__arrow {
      width: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      transform: rotate(90deg);
      svg {
        width: 20px;
        fill: transparent;

        path {
          fill: var(--text-color);
        }
      }
    }
  }

  &-dropdown {
    position: absolute;
    top: 42px;
    left: -3px;

    width: 100%;
    height: 95px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-left: 3px solid var(--border-color);
    border-right: 3px solid var(--border-color);
    border-bottom: 3px solid var(--border-color);

    z-index: 4;
    background: var(--background-color);

    overflow-y: scroll;
    overflow-x: hidden;

    &-item {
      width: 90%;

      display: flex;
      align-items: center;
      gap: 10px;

      padding: 10px 0;

      white-space: nowrap;

      background: none;
      appearance: none;

      border-top: 3px solid var(--border-color) !important;
      border-left: none;
      border-right: none;
      border-bottom: none;

      p {
        @include h3-regular;
        color: var(--text-color);
      }

      &__flag {
        width: 18px;
        height: auto;
      }
    }
  }
}