@import './src/scss/mixins';

.greetings-verify {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  p{
    @include h4-regular;
    color: var(--text-color);
  }

  span{
    color: var(--title-color);
    border-bottom: 1px solid var(--title-color);

    &:hover{
      color: var(--button-backgroud-hover);
      border-bottom: 1px solid var(--button-backgroud-hover);
    }

    &:active{
      color: var(--button-backgroud-active);
      border-bottom: 1px solid var(--button-backgroud-active);
    }
  }
  .disabled{
    color: var(--button-backgroud-disabled);
    border-bottom: 1px solid var(--button-backgroud-disabled);
  }
}