@import './src/scss/mixins';

.kyc-greetings {
  width: calc(825 / 1440 * 100vw);
  height: calc(298 / 1080 * 100vh);

  padding: calc(35 / 1440 * 100vw) 0;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid #090909;

  &__wrapper {
    width: 76%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  h1 {
    @include h2-bold;
    color: #1E24CC;
  }

  h2 {
    @include h3-bold;
  }
}