@import './src/scss/mixins';

.kyc-header {
  width: 100%;
  padding-bottom: calc(75 / 1080 * 100vh);

  display: flex;
  align-items: center;
  justify-content: space-between;

  p {
    @include h1-bold;
    color: rgba(132, 135, 134, 0.5);
  }

  svg {
    width: 28px;
  }


  &-wrapper {
    display: flex;
    align-items: center;
    gap: 35px;
  }
}

@media (min-width: 360px) and (max-width: 428px) {
  .kyc-header{
    flex-direction: column;
    gap: 35px;

    padding-bottom: 40px;
  }
}