@import './src/scss/mixins';

.kyc-progressbar {
  width: calc(245 / 1440 * 100vw);
  height: calc(480 / 1080 * 100vh);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  &-line{
    width: 3px;
    height: 25%;

    margin-left: 20px;
    background: #090909;
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 10px;

    &-box {
      width: 37px;
      height: 37px;

      display: flex;
      align-items: center;
      justify-content: center;

      border: 3px solid #090909;

      &-check {
        width: 26px;
        height: 26px;

        background: #1E24CC;
      }
    }

    &-label {
      @include h3-bold;
      color: #848786;

      &--active{
        color: #1E24CC;
      }
    }
  }
}