@import './src/scss/mixins';

.kyc-progressbar {
  width: calc(245 / 1440 * 100vw);
  height: calc(480 / 1080 * 100vh);

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;

  &-line {
    width: 3px;
    height: 25%;

    margin-left: 20px;
    background: var(--border-color);
  }

  &-item {
    display: flex;
    align-items: center;
    gap: 10px;

    &-box {
      width: 37px;
      height: 37px;

      display: flex;
      align-items: center;
      justify-content: center;

      border: 3px solid var(--border-color);

      &-check {
        width: 26px;
        height: 26px;

        background: var(--title-color);
      }
    }

    &-label {
      @include h3-bold;
      color: #848786;

      &--active {
        color: var(--title-color);
      }
    }
  }
}

.kyc-progressbar-mobile {
  width: 80%;
  height: 39px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 3px solid var(--border-color);

  h1 {
    @include h3-bold;
    color: var(--text-color);
  }

  span {
    color: var(--title-color);
  }
}