@import './src/scss/mixins';

.k-map {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-color);

  &--loading {
    width: 100vw;
    height: 100vh;
    padding: 0 !important;

    overflow: hidden;
  }

  &-body {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;

    padding-bottom: 80px;
  }

  &-footer {
    width: 350px;
    height: 386px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: var(--background-color);

    pointer-events: all;

    &-logo {
      width: 350px;
      height: 350px;

      background-size: contain;
      background-color: transparent;
      background-position: center;

      background-image: var(--bg-gif);
    }

    p {
      @include h3-regular;
      color: var(--disabled);
    }

    span {
      @include h3-bold;
      color: var(--text-color);
    }
  }
}

.debug {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 50%;
  height: 50%;

  transform: translate(-50%, -50%);
  border: 10px solid var(--border-color);
  background: var(--background-color);

  display: flex;
  gap: 20px;
  z-index: 1000;

  padding: 50px;

  &-item {
    width: 150px;
    height: 30px;

    background: var(--button-backgroud);
    color: var(--button-text-color);
  }

}

@media (min-width: 360px) and (max-width: 428px) {
  .k-map {
    padding: 40px 15px;
    gap: 0;

    &-body {
      flex-direction: column;
      align-items: center;
      gap: 25px;
    }
  }
}