@import './src/scss/mixins';

.kyc-form {
  position: relative;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;

  margin-top: 4px;

  box-sizing: border-box;

  &--enabledError {
    padding-bottom: 23px;
  }

  &-error {
    padding-top: 5px;

    text-align: right;
    white-space: nowrap;

    @include h4-regular;
    color: #EB5757;
  }

  &--small {
    max-width: 192px;

    input {
      text-align: center;

      padding: 0 !important;
    }
  }

  &--error {
    position: relative;

    width: 100%;
    height: auto;

    padding: 0;

    box-sizing: border-box;

    color: #EB5757 !important;


    input {
      width: 100%;
      height: 48px;

      padding-left: 15px;

      border: 3px solid #EB5757 !important;
      box-sizing: border-box;

      @include h3-regular;
      color: #EB5757 !important;

      &::placeholder {
        color: #EB5757 !important;
      }

      &:focus {
        color: #EB5757 !important;
      }
    }

    p {
      position: absolute;

      top: -7px;
      left: 20px;

      padding: 0 5px;

      background: white;

      @include h4-regular;
      color: #EB5757 !important;
    }
  }

  input {
    width: 100%;
    height: 48px;

    padding-left: 15px;

    border: 3px solid var(--border-color);
    box-sizing: border-box;

    border-radius: 0;

    @include h3-regular;
    color: var(--text-color);

    &:focus {
      color: var(--text-color);
    }
  }

  p {
    position: absolute;

    top: -7px;
    left: 20px;

    padding: 0 5px;

    background: var(--background-color);

    @include h4-regular;
    color: var(--text-color);
  }
}

@media (min-width: 360px) and (max-width: 428px) {
  .kyc-form--error > div {
    white-space: break-spaces;
  }
  .kyc-form {
    margin-top: 4px;

    &--enabledError {
      padding-bottom: 41px;
    }
  }
  .kyc-form--error {
    padding: 0;
  }
}