@import './src/scss/mixins';

.kyc-button {
  width: calc(224 / 1440 * 100vw);
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--button-backgroud);

  outline: none;
  border: none;

  @include h3-bold;
  color: var(--background-color);

  &:hover {
    background-color: var(--button-backgroud-hover);
  }

  &:active {
    background-color: var(--button-backgroud-active);
  }

  &--disabled {
    background-color: var(--button-backgroud-disabled);

    &:hover {
      background-color: var(--button-backgroud-disabled);
    }
  }

  &--alt {
    background-color: var(--background-color);
    border: 3px solid var(--button-backgroud);

    color: var(--button-backgroud);

    &:hover{
      background-color: var(--background-color);
      border: 3px solid var(--button-backgroud);

      color: var(--button-backgroud);
    }

    &:active{
      background-color: var(--background-color);
      border: 3px solid var(--button-backgroud);

      color: var(--button-backgroud);
    }
  }
}

@media (min-width: 360px) and (max-width: 428px) {
  .kyc-button {
    width: calc(158 / 390 * 100vw);
    height: 46px;
  }
}