@import './src/scss/mixins';

.kyc-button{
  width: calc(224 / 1440 * 100vw);
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #1E24CC;

  &:hover{
    background-color: #00059C;
  }

  &:active{
    background-color: #00035B;
  }

  &--alt{
    background-color: white;
    border: 3px solid #1E24CC;

    p{
      color: #1E24CC !important;
    }
  }

  p{
    @include h3-bold;
    color: white;
  }
}