@import './src/scss/mixins';

.kyc-identify {
  width: 100%;
  height: 593px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  text-align: center;

  h1 {
    @include h2-bold;
    color: var(--title-color)
  }

  h3 {
    @include h4-regular;
    color: var(--title-color);
    border-bottom: 1px solid var(--title-color);
  }

  p {
    @include h4-regular;
    color: var(--text-color);
    max-width: 156px;
  }

  &-photo {
    position: relative;

    width: 90%;
    height: 65%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 50px;

    border: 3px solid var(--border-color);

    svg{
      width: 70%;

      fill: transparent;
      color: var(--text-color);
    }

    &-preview {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50% 50%;

      &-capture{
        width: 90%;
        height: 83%;
        position: absolute;

        border: 2px solid white;
      }
    }
  }
}